.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: azure;
}

.dialogsItems .dialog {
    padding: 10px;
    color: azure;
}

.dialogsItems .active {
    color: white;
}


.messages {
    padding: 10px;
}


.messages .message {

}

.dialog {
    background-color: azure;
}